{% extends 'bank/basic.html' %}

{% block title %}ABOUT US{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-2">ABOUT US</h1>
    <p class="lead">Universally, 'Blood' is recognized as the most precious element that sustains life. It saves innumerable lives across the world in a variety of conditions. Once in every 2- seconds, someone, somewhere is desperately in need of blood. More than 29 million units of blood components are transfused every year. The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed. Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.</p>
    <hr class="my-2">
    <p>Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed to the lack of information and accessibility. We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.</p>
  </div>
{% endblock %}

{% block css %}
    .jumbotron{
        color:black;
        margin:25px;
    }
{% endblock %}