{% extends 'bank/basic.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
      <h1>SEARCH DONORS</h1>

            <div class="form-group col-md-6">
              <label for="bloodgroup">Blood Group</label><br>
              <select class="selectpicker" name="bloodgroup">
                <option>A+</option>
                <option>B+</option>
                <option>O+</option>
                <option>AB+</option>
                <option>A-</option>
                <option>B-</option>
                <option>O-</option>
                <option>AB-</option>
              </select>
            </div>
            <div class="form-group col-md-6"><br>
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" name="city">
            </div>  <br>
          <button type="submit" class="btn btn-primary mx-3">Search</button>

</form>
{% endblock %}

{% block css %}
.selectpicker  {
    height: 35px;
  border-radius: 5px;
  border: 2px ;
  width: 50%;
}

#inputCity  {
    height: 35px;
  border-radius: 5px;
  border: 2px ;
  width: 50%;
}

{% endblock %}