{% extends 'bank/basic.html' %}

{% block title %}SEARCH{% endblock %}

{% block body %}
<div class="container">
    {% for user1 in users %}
    <div class="row my-5">
        <div class="col-sm-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title" style="text-decoration: underline;"><i class="fa fa-user"></i> {{user1.user.first_name}} {{user1.user.last_name}}</h5>
              <p class="card-text"><i class="fa fa-tint"></i> {{user1.Blood_group}}</p>
              <p class="card-text"><i class="fa fa-map-marker"> </i> {{user1.City}}</p>
              <p class="card-text"><i class="fa fa-phone"></i> {{user1.Mobile}}</p>
              <p class="card-text"><i class="fa fa-envelope"></i> {{user1.user.email}}</p>
              <!--
                  <a href="#" class="btn btn-primary">View Profile</a>
              -->
            </div>
          </div>
        </div>
        
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block css %}
.card-body  {
    color: black;
}
.card  {
    width: 70%;
    text-align: left;
    background: linear-gradient(to bottom,lightblue,white);
    background-color:rgba(255,255,255,0.65);
}
{% endblock %}